---

import NavBar from '../components/NavBar.astro';


---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moises Bessalle</title>
  <link rel="stylesheet" href="/global.css" />
</head>
<body class="bg-gray-900 text-white"> 
  <NavBar />
  <div class="container mx-auto p-8">
    <header class="text-center">
      
      <img src="/moisesfotocv.png" alt="Moises Bessalle" class="rounded-full w-32 h-32 mx-auto" />
      <h1 class="text-3xl font-bold mt-4">Moises Bessalle</h1>
      <p class="mt-2">Fullstack Engineer</p>
    </header>
    
    <main>
      <section class="mt-6">
        <h2 class="text-xl font-semibold mb-3">About Me</h2>
    
        <p class="text-lg">A sociable and energetic Fullstack Engineer with a robust technical background and a passion for collaborative innovation. My experience spans various roles where teamwork and effective communication have been key to success. I'm always eager to bring people together to solve complex problems and drive projects forward.</p>
      </section>
    </main>

    
    <aside class="mt-6">
      <a href="/Moises_Bessalle_CV.pdf" download="Moises_Bessalle_CV.pdf" class="bg-yellow-500 text-black rounded px-4 py-2 hover:bg-yellow-600 transition-colors">
        Download CV
      </a>
    </aside>
    
  </div>
</body>
</html>
