<nav class="flex justify-between items-center p-4 bg-black text-white">
  <a href="/" class="text-xl font-bold">Moises Bessalle</a>
  <div>
    <a href="/experience" class="p-2 hover:bg-gray-700 rounded">Experience</a>
    <a href="/education" class="p-2 hover:bg-gray-700 rounded">Education</a>
  </div>
</nav>
